*

!/.bash_login
!/.bash_profile
!/.bashrc
!/.config/
!/.config/MusicBrainz/
!/.config/MusicBrainz/**
!/.config/OpenRCT2/
!/.config/OpenRCT2/**
!/.config/alsoft.conf
!/.config/autostart/
!/.config/autostart/**
!/.config/black
!/.config/config-merge-template/
!/.config/config-merge-template/**
!/.config/containers/
!/.config/containers/**
!/.config/dconf-fancy-load/
!/.config/dconf-fancy-load/**
!/.config/dfgr/
!/.config/dfgr/**
!/.config/dir-alias/
!/.config/dir-alias/**
!/.config/dotfiles/
!/.config/dotfiles/**
!/.config/easyeffects/
!/.config/easyeffects/**
!/.config/environment.d/
!/.config/environment.d/**
!/.config/fontconfig/
!/.config/fontconfig/**
!/.config/git/
!/.config/git/**
!/.config/gthumb/
!/.config/gthumb/**
!/.config/gtk-*/
!/.config/gtk-*/**
!/.config/hg/
!/.config/hg/**
!/.config/pipewire/
!/.config/pipewire/**
!/.config/quodlibet/
!/.config/quodlibet/**
!/.config/rsgain/
!/.config/rsgain/**
!/.config/shell/
!/.config/shell/**
!/.config/snipphthalate/
!/.config/snipphthalate/**
!/.config/system-packages/
!/.config/system-packages/**
!/.config/systemd/
!/.config/systemd/**
!/.config/tmux/
!/.config/tmux/**
!/.config/vim/
!/.config/vim/**
!/.config/whipper/
!/.config/whipper/**
!/.config/wireplumber/
!/.config/wireplumber/**
!/.config/yapf/
!/.config/yapf/**
!/.config/yt-dlp/
!/.config/yt-dlp/**
!/.config/yubikey-touch-detector/
!/.config/yubikey-touch-detector/**
!/.gitconfig
!/.github/
!/.github/**
!/.gitignore
!/.gnupg/
!/.gnupg/**
!/.guile
!/.hgrc
!/.inputrc
!/.inputrc.local
!/.ipython/
!/.ipython/**
!/.local/
!/.local/bin/
!/.local/bin/**
!/.local/lib/
!/.local/lib/dir-alias/
!/.local/lib/dir-alias/**
!/.local/lib/dotfiles/
!/.local/lib/dotfiles/**
!/.local/lib/inhibiter/
!/.local/lib/inhibiter/**
!/.local/lib/python3/
!/.local/lib/python3/site-packages/
!/.local/lib/python3/site-packages/**
!/.local/lib/shutil/
!/.local/lib/shutil/**
!/.local/lib/system-packages/
!/.local/lib/system-packages/**
!/.local/lib/user-scripts/
!/.local/lib/user-scripts/**
!/.local/lib/user-styles/
!/.local/lib/user-styles/**
!/.local/share/
!/.local/share/bash-completion/
!/.local/share/bash-completion/**
!/.local/share/dotfiles/
!/.local/share/dotfiles/**
!/.local/share/emoji-picker/
!/.local/share/emoji-picker/**
!/.local/share/endless-sky/
!/.local/share/endless-sky/plugins/
!/.local/share/endless-sky/plugins/**
!/.local/share/glib-2.0/
!/.local/share/glib-2.0/**
!/.local/share/gnome-shell/
!/.local/share/gnome-shell/extensions/
!/.local/share/gnome-shell/extensions/**
!/.local/share/i18n/
!/.local/share/i18n/**
!/.local/share/wireplumber/
!/.local/share/wireplumber/**
!/.m17n.d/
!/.m17n.d/**
!/.mozilla/
!/.mozilla/firefox/
!/.mozilla/firefox/all/
!/.mozilla/firefox/all/**
!/.profile
!/.ssh/
!/.ssh/**
!/.thunderbird/
!/.thunderbird/all/
!/.thunderbird/all/**
!/LICENSE
!/third_party/
!/third_party/**

*.pyc
*.pyo
__pycache__/
