*

!/.config/
!/.config/dconf-load-yaml/
!/.config/dconf-load-yaml/**
!/.config/dir-alias/
!/.config/dir-alias/**
!/.config/dotfiles/
!/.config/dotfiles/**
!/.config/fontconfig/
!/.config/fontconfig/**
!/.config/git/
!/.config/git/**
!/.config/hg/
!/.config/hg/**
!/.config/shell/
!/.config/shell/**
!/.config/snipphthalate/
!/.config/snipphthalate/**
!/.config/system-packages/
!/.config/system-packages/**
!/.config/tmux/
!/.config/tmux/**
!/.config/xkb/
!/.config/xkb/**
!/.gitconfig
!/.hgrc
!/.inputrc.local
!/.ipython/
!/.ipython/profile_*/
!/.ipython/profile_*/*.py
!/.ipython/profile_*/startup/
!/.ipython/profile_*/startup/*.ipy
!/.ipython/profile_*/startup/*.py
!/.local/
!/.local/lib/
!/.local/lib/dir-alias/
!/.local/lib/dir-alias/**
!/.local/lib/dotfiles/
!/.local/lib/dotfiles/**
!/.local/lib/python3/
!/.local/lib/python3/site-packages/
!/.local/lib/python3/site-packages/**
!/.local/lib/shutil/
!/.local/lib/shutil/**
!/.local/lib/system-packages/
!/.local/lib/system-packages/**
!/.m17n.d/
!/.m17n.d/**
!/.mozilla/
!/.mozilla/firefox/
!/.mozilla/firefox/all/
!/.mozilla/firefox/all/**
!/.vim/
!/.vim/**
!/.vimrc
!/.yadm/
!/.yadm/**
!/third_party/
!/third_party/**

/.config/dotfiles/conf.local.d/
/.yadm/repo.git/
/.vim/state/
/third_party/vim-*/doc/tags

__pycache__/
