[user]
	email = david@mandelberg.org
	name = David Mandelberg
[color]
	ui = true
[push]
	default = upstream
[merge]
	conflictStyle = diff3
[rebase]
	autoSquash = true
	missingCommitsCheck = error
[include]
	path = .gitconfig.local
