[org/mate/panel/general]
toplevel-id-list=['top']
object-id-list=['menu', 'workspace-switcher', 'dock', 'multiload', 'inhibit', 'notifications', 'indicator', 'clock', 'window-buttons']

[org/mate/panel/toplevels/top]
orientation='top'

[org/mate/panel/objects/menu]
toplevel-id='top'
panel-right-stick=false
position=0
applet-iid='MateMenuAppletFactory::MateMenuApplet'
object-type='applet'

[org/mate/panel/objects/workspace-switcher]
toplevel-id='top'
panel-right-stick=false
position=1
applet-iid='WnckletFactory::WorkspaceSwitcherApplet'
object-type='applet'

[org/mate/panel/objects/workspace-switcher/prefs]
num-rows=3

[org/mate/panel/objects/dock]
toplevel-id='top'
panel-right-stick=false
position=2
applet-iid='DockAppletFactory::DockApplet'
object-type='applet'

[org/mate/panel/objects/dock/prefs]
indicator-type=4
multi-ind=true
attention-type=0
bg-type=1
app-spacing=0
use-win-list=true
panel-act-list=true
apps-from-all-workspaces=true
pinned-apps-on-all-workspaces=true
win-from-cur-workspace-only=false
change-panel-color=false
change-panel-color-dock-only=false
dock-fixed-size=-1
popup-delay=1000

# TODO: Enable this after
# https://github.com/ubuntu-mate/mate-window-applets/issues/4 is fixed.
#[org/mate/panel/objects/window-title]
#toplevel-id='top'
#panel-right-stick=false
#position=3
#applet-iid='WindowTitleAppletFactory::WindowTitleApplet'
#object-type='applet'

[org/mate/panel/objects/multiload]
toplevel-id='top'
panel-right-stick=true
position=5
applet-iid='MultiLoadAppletFactory::MultiLoadApplet'
object-type='applet'

[org/mate/panel/objects/multiload/prefs]
view-memload=true
view-netload=true
netload2-color0='rgb(127,127,255)'
netload2-color1='rgb(255,127,127)'
view-swapload=true
view-diskload=true
diskload-color0='rgb(0,0,255)'
diskload-color1='rgb(255,0,0)'

[org/mate/panel/objects/inhibit]
toplevel-id='top'
position=4
panel-right-stick=true
applet-iid='InhibitAppletFactory::InhibitApplet'
object-type='applet'

[org/mate/panel/objects/notifications]
toplevel-id='top'
panel-right-stick=true
position=3
applet-iid='NotificationAreaAppletFactory::NotificationArea'
object-type='applet'

[org/mate/panel/objects/indicator]
toplevel-id='top'
position=2
panel-right-stick=true
applet-iid='IndicatorAppletCompleteFactory::IndicatorAppletComplete'
object-type='applet'

[org/mate/panel/objects/clock]
toplevel-id='top'
panel-right-stick=true
position=1
applet-iid='ClockAppletFactory::ClockApplet'
object-type='applet'

[org/mate/panel/objects/clock/prefs]
format='custom'
custom-format='<tt> </tt>%a %b %e, %Y<tt> </tt>%H:%M <small>%z</small><tt> </tt>'
expand-locations=true

[org/mate/panel/objects/window-buttons]
toplevel-id='top'
panel-right-stick=true
position=0
applet-iid='WindowButtonsAppletFactory::WindowButtonsApplet'
object-type='applet'
