# Copyright 2025 David Mandelberg
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[ca/desrt/dconf-editor]
/reset=true
# TODO(https://gitlab.gnome.org/GNOME/dconf-editor/-/merge_requests/47): Delete
# ibus-typing-booster.
relocatable-schemas-user-paths=
  {
    'ca.desrt.dconf-editor.Demo.Relocatable':
        '/ca/desrt/dconf-editor/Demo/relocatable/',
    'org.freedesktop.ibus.engine.typing-booster':
        '/org/freedesktop/ibus/engine/tb///',
    'org.freedesktop.ibus.engine.typing-booster':
        '/org/freedesktop/ibus/engine/typing-booster/'
  }
saved-pathbar-path/reset=false
saved-view/reset=false
show-warning=false
window-height/reset=false
window-is-maximized/reset=false
window-width/reset=false
