# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[org/gnome/settings-daemon]
/reset=true

[org/gnome/settings-daemon/plugins/color]
night-light-last-coordinates/reset=false
night-light-temperature=uint32 3500

[org/gnome/settings-daemon/plugins/media-keys]
previous=['<Alt>comma']
next=['<Alt>period']
play=['<Alt>slash']
volume-down=['<Primary>comma']
volume-up=['<Primary>period']
volume-mute=['<Primary>slash']
mic-mute=['<Primary><Shift>question']
screensaver=['<Super>l', '<Primary><Alt>l']
custom-keybindings=
  [
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/emoji-picker/',
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/rotate-play-mode/',
    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/toggle-word-predictions/'
  ]

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/emoji-picker]
name='Open emoji-picker'
binding='<Control><Shift><Alt>e'
command='emoji-picker --all'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/rotate-play-mode]
name='Rotate music play mode'
binding='<Shift><Alt>question'
command="dconf-rotate-values /org/gnome/Lollypop/repeat \"'auto_random'\" \"'track'\""

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/toggle-word-predictions]
name='Toggle ibus-typing-booster word predictions'
binding='<Control><Alt>e'
command="dconf-rotate-values /org/freedesktop/ibus/engine/typing-booster/wordpredictions false true"

[org/gnome/settings-daemon/plugins/power]
sleep-inactive-ac-type='nothing'
sleep-inactive-battery-type='nothing'
