# Copyright 2018 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[org/freedesktop/ibus]
/reset=true

[org/freedesktop/ibus/engine/typing-booster]
addspaceoncommit=false
autosettings=
  [
    # https://github.com/mike-fabian/ibus-typing-booster/issues/580
    ['prefercommit', 'false', '^SDL2_Application:']
  ]
candidatesdelaymilliseconds=@u 0
dictionary='en_US'
emojipredictions=false
emojitriggercharacters=''
# No variation selector.
emojistyle=''
inputmethod='t-unimnim'
keybindings=
  {
    'commit': <['Return']>,
    'commit_and_forward_key': <['Control+Left', 'Left', 'Mod1+Left']>,
    {%- for i in range(1, 10) %}
    'commit_candidate_{{ i }}': <['F{{ i }}']>,
    'commit_candidate_{{ i }}_plus_space': <@as []>,
    {%- endfor %}
    'lookup_related': <['F12']>,
    'next_case_mode': <@as []>,
    'previous_case_mode': <@as []>,
    'show_selection_info': <['Control+Mod1+u']>,
    'toggle_off_the_record': <@as []>,
    'trigger_emoji_predictions': <['Shift+Control+E']>,
    'trigger_word_predictions': <['Shift+Control+D']>
  }
offtherecord=true
pagesize=9
# TODO: https://github.com/mike-fabian/ibus-typing-booster/issues/732 - Remove
# this.
prefercommit=false
# 3 means nothing
recordmode=3
shownumberofcandidates=true
unicodedataall=true
wordpredictions=false
