"""Tests for {{ system_under_test }}."""


import unittest
from unittest import mock


class FooTest(unittest.TestCase):

  def test_foo(self):
    pass


if __name__ == '__main__':
  unittest.main()
