# Copyright 2018 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

Source: dseomn-meta
Maintainer: David Mandelberg <david@mandelberg.org>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)

Package: dseomn-standard
Architecture: all
Depends:
  ${misc:Depends},
  bash,
  git,
  less,
  man-db,
  tmux,
  vim-nox,
Recommends:
  aptitude,
  bash-completion,
  bind9-host | host,
  command-not-found,
  curl,
  diffutils,
  dnsutils,
  file,
  ncurses-term,
  netcat-openbsd | netcat-traditional | netcat,
  netcat-openbsd,
  patch,
  plocate | mlocate | locate,
  python3,
  rsync,
Description: dseomn-standard

Package: dseomn-dev
Architecture: all
Depends:
  ${misc:Depends},
  build-essential,
  dseomn-standard (= ${source:Version}),
Recommends:
  autoconf,
  automake,
  bazel | bazel-bootstrap,
  black,
  clang-format,
  cmake,
  default-jdk-headless,
  devscripts,
  dpkg-dev,
  ipython3,
  isort,
  jsbeautifier,
  manpages-dev,
  manpages-posix,
  manpages-posix-dev,
  mypy,
  mypy-protobuf,
  ninja-build,
  nodejs,
  php-cli,
  protobuf-compiler,
  python3-absl,
  python3-dateutil,
  python3-immutabledict,
  python3-jinja2,
  python3-jmespath,
  python3-jsonschema,
  python3-pip,
  python3-protobuf,
  python3-pytest,
  python3-pytest-cov,
  python3-requests,
  python3-requests-cache,
  python3-setuptools,
  python3-setuptools-protobuf,
  python3-urllib3,
  python3-yaml,
  r-recommended,
  rclone,
  subversion,
  tox,
  uuid-runtime,
  valgrind,
  virtualenv,
  vroom,
  xsltproc,
  yapf3,
Description: dseomn-dev

Package: dseomn-dev-full
Architecture: all
Depends:
  ${misc:Depends},
  dseomn-dev (= ${source:Version}),
Recommends:
  android-sdk,
  guile-2.2,
  pgpdump,
  podman,
  runsc,
  texlive-fonts-extra,
  texlive-latex-recommended,
Description: dseomn-dev-full

Package: dseomn-desktop
Architecture: all
Depends:
  ${misc:Depends},
  dseomn-standard (= ${source:Version}),
  gnome-core,
  gnome-icon-theme,
  gnome-shell-extension-dash-to-panel,
  ptyxis,
  python3-jinja2,
  python3-pyudev,
Recommends:
  blueman,
  d-spy,
  dconf-editor,
  dseomn-dev (= ${source:Version}),
  easyeffects,
  file-roller,
  firefox,
  firefox-l10n-nl,
  fonts-dejavu,
  fonts-noto,
  gddrescue,
  gimp,
  gnome-clocks,
  gnome-shell-extension-appindicator,
  gnome-shell-extension-caffeine,
  gnome-shell-extension-system-monitor,
  gnome-shell-extensions-extra,
  gnome-tweaks,
  gnome-weather,
  google-chrome-stable,
  gucharmap,
  hunspell-nl,
  ibus,
  ibus-clutter,
  ibus-gtk,
  ibus-gtk3,
  ibus-gtk4,
  ibus-typing-booster,
  imagemagick,
  libreoffice,
  libreoffice-gnome,
  libreoffice-l10n-nl,
  lollypop,
  m17n-db,
  network-manager-gnome,
  pidgin,
  pidgin-otr,
  pidgin-plugin-pack,
  python3-pip,
  quodlibet,
  simple-scan,
  thunderbird,
  thunderbird-l10n-nl,
  vim-gtk3,
Description: dseomn-desktop

Package: dseomn-desktop-full
Architecture: all
Depends:
  ${misc:Depends},
  dseomn-desktop (= ${source:Version}),
  minicom,
Recommends:
  abcm2ps,
  abcmidi,
  ardour,
  audacity,
  dseomn-dev-full (= ${source:Version}),
  endless-sky,
  evemu-tools,
  exfalso,
  extremetuxracer,
  eyed3,
  fatsort,
  ffmpeg,
  flac,
  fluid-soundfont-gm,
  fluid-soundfont-gs,
  fluidsynth,
  gnome-games,
  gthumb,
  hugin,
  inkscape,
  joystick,
  k3b,
  kdenlive,
  libaacs-bin,
  libbluray-bdj,
  libbluray-bin,
  libimage-exiftool-perl,
  lsdvd,
  musescore,
  picard,
  povray,
  rawtherapee,
  rsgain,
  scdaemon,
  sgt-puzzles,
  sox,
  supertuxkart,
  virt-manager,
  vlc,
  vorbis-tools,
  whipper,
  yubikey-manager,
  yubikey-touch-detector,
  yubioath-desktop,
  zbar-tools,
Suggests:
  blobwars,
  frozen-bubble,
  kobodeluxe,
  lightyears,
  naev,
  openrct2,
  performous,
  powermanga,
  supertux,
  warmux,
  warzone2100,
Description: dseomn-desktop-full
