file://{{ env['HOME'] }}/Code
file://{{ env['HOME'] }}/Documents
file://{{ env['HOME'] }}/Downloads
file://{{ env['HOME'] }}/Music
file://{{ env['HOME'] }}/Pictures
file://{{ env['HOME'] }}/Videos
file:///tmp /tmp
